# Twitter

flatiron.brewery@gmail.com

Twitter
API Key:    urqmVCS7D6U5Qnc7EIloFFHW7
secret: ha9XzgOJ3Mr1eLkT8v2p3Rlouaekf0cAXFVGfEWnZ1jpLAr7Vr

Access Token  81697530-d7Ln5rdXS5q5LRVJNDwXAJgqBPG8vd6IeTaHfUzH0
Access Token Secret PtzDboMO7fFKI7xjiRP5XiuAjp0yzMXsnuwQvoIlEsNW1
Access Level  Read and write



